:root {
    /* Colors */
    --primary-color: #4F46E5;
    --secondary-color: #6366F1;
    --background-color: #093142;
    /* linear-gradient(115deg, #62cff4, #2c67f2); linear-gradient(45deg, #08265d 0, #104cba 45%);  brown;  linear-gradient(45deg, #551bac, #315dc4); */
    --text-color: white;
    --accent-color: #EC4899;
    --cta-btn-bgC: orange;
    --dark-bg-color: #17222c;

    /* Typography */
    --font-body: 'Inter', sans-serif;
    --font-heading: 'Poppins', sans-serif;
    --font-azeret-mono: azeret-mono, "azeret mono", monospace;

    /* effects */
    --yellow-shadow-effect: 5px 3px 10px var(--cta-btn-bgC), 2px 2px 1px var(--cta-btn-bgC);
}

/* Apply Box-Sizing Globally */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}
/* Set Up Body */
body {
    font-family: var(--font-body);
    color: var(--text-color);
    line-height: 1.6;
    background: var(--background-color);
    background-attachment: fixed; /* Keeps the gradient consistent */
    background-size: cover; /* Ensures it fills the entire screen */
}

/* Links */
a {
    text-decoration: none;
    color: var(--text-color);
}