:root {
    /* Colors */
    --primary-color: #4F46E5;
    --secondary-color: #6366F1;
    --background-color: linear-gradient(45deg, #551bac, #315dc4);
    --text-color: white;
    --accent-color: #EC4899;
    --cta-btn-bgC: orange;
    --dark-bg-color: #17222c;

    /* Typography */
    --font-body: 'Inter', sans-serif;
    --font-heading: 'Poppins', sans-serif;
    --font-azeret-mono: azeret-mono, "azeret mono", monospace;
}

/* Apply Box-Sizing Globally */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set Up Body */
body {
    font-family: var(--font-body);
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden;
}

/* Links */
a {
    text-decoration: none;
    color: var(--text-color);
}