#about-section {
  margin-top: 100px;
  padding: 10px;
}
.about-div {
  display: flex;
  justify-content: center;
}
.about-h1 {
  font-size: clamp(24px, 5vw, 40px);
  font-weight: 300;
  font-weight: 700;
}
.about-h3 {
  font-size: clamp(24px, 5vw, 40px);
  font-weight: 300;
  color: var(--third-color);
  font-weight: 700;
}
.about-p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 50px;
}
.about-text {
  max-width: 600px;
}
.about-cards-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-card {
  background-color: var(--animation-bg);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}
.about-card:hover {
  transform: translateY(-0.5rem);
}

.card-text {
  color: var(--gray-text);
}
.about-proof {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.proof-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proof-text {
  color: var(--gray-text);
}
.proof-number {
  color: var(--third-color);
}
.checklist-div {
  display: flex;
  flex-direction: column;
}
.checklist-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-align: left;
}
/* media query */
@media (max-width: 1045px) {
  .proof-card {
    align-items: start;
  }
}
@media (max-width: 700px) {
  .about-div {
    align-items: center;
    flex-direction: column;
  }
  .about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .proof-card {
    align-items: center;
  }
  .checklist-div{
    margin-bottom: 50px;
  }
}
@media (max-width: 441px) {
  .proof-card {
    align-items: start;
  }
}
